extends layout

block content
  h1=title
  - var results = [{"Types":"Java", "NumberOfLang":2,"Data":"Primitive"},{"Types":"C", "NumberOfLang":"3","Data":"String"},{"Types":"Python", "NumberOfLang":"1","Data":"Dictionary"}]
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.Types}
          p #{result.NumberOfLang}
          p #{result.Data}  

  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }